@model VisualizarCategoriasViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Categorias";
}

<p>
    <a class="btn-amber px-4" href="/categorias/cadastrar">
        <i class="bi bi-plus"></i>
        Cadastrar Novo/a
    </a>
</p>

<hr />

@if (ViewData.ModelState["ExclusaoNaoPermitida"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData.ModelState["ExclusaoNaoPermitida"]?.Errors[0].ErrorMessage
    </div>
}


<div class="d-flex flex-wrap gap-2">
    @foreach (var item in Model.Registros)
    {
        <div class="col-12 col-md-3">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">Título: #@item.Titulo</h5>

                    <p class="card-text">
                        <span class="fw-semibold">Despesas:</span><br />
                        @if (item.NomesDespesas != null && item.NomesDespesas.Any())
                        {
                            <ul class="mb-0">
                                @foreach (var nome in item.NomesDespesas)
                                {
                                    <li>@nome</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <em>Nenhuma despesa vinculada</em>
                        }
                    </p>

                    <span class="d-flex gap-1 justify-content-end mt-4">
                        <a href="/categorias/detalhes/@item.Id" class="btn btn-secondary opcao-card">
                            <i class="bi bi-search"></i>
                        </a>
                        <a href="/categorias/editar/@item.Id" class="btn-edit opcao-card">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a href="/categorias/excluir/@item.Id" class="btn-delete opcao-card">
                            <i class="bi bi-trash"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    }
</div>
