@model CadastrarCompromissoViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro de Compromissos";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <form asp-action="Cadastrar" method="post" novalidate>
                    <h3>Formulário de Cadastro</h3>

                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="form-group d-grid gap-2 mt-5">
                        <label asp-for="Assunto" class="control-label fs-5">Assunto:</label>
                        <input asp-for="Assunto" class="form-control" />
                        <span asp-validation-for="Assunto" class="text-danger"></span>
                    </div>

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="DataDeOcorrencia" class="control-label fs-5">Data de ocorrência:</label>
                        <input asp-for="DataDeOcorrencia" type="date" class="form-control" />
                        <span asp-validation-for="DataDeOcorrencia" class="text-danger"></span>
                    </div>

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="HoraDeInicio" class="control-label fs-5">Hora de início:</label>
                        <input asp-for="HoraDeInicio" type="time" class="form-control" />
                        <span asp-validation-for="HoraDeInicio" class="text-danger"></span>
                    </div>

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="HoraDeTermino" class="control-label fs-5">Hora de término:</label>
                        <input asp-for="HoraDeTermino" type="time" class="form-control" />
                        <span asp-validation-for="HoraDeTermino" class="text-danger"></span>
                    </div>

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="TipoDeCompromisso" class="control-label fs-5">Tipo de Compromisso:</label>
                        <select asp-for="TipoDeCompromisso" class="form-control">
                            <option value="">Selecione o tipo</option>
                            <option value="Remoto">Remoto</option>
                            <option value="Presencial">Presencial</option>
                        </select>
                        <span asp-validation-for="TipoDeCompromisso" class="text-danger"></span>
                    </div>

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Link" class="control-label fs-5">Link/Local compromisso:</label>
                        <input asp-for="Link" class="form-control" />
                        <span asp-validation-for="Link" class="text-danger"></span>
                    </div>


                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="ContatoId" class="control-label fs-5">Contato cadastrado:</label>
                        <select asp-for="ContatoId" class="form-control">
                            <option value="">Selecione um contato</option>
                            @foreach (var contato in Model.Contatos)
                            {
                                <option value="@contato.Id">@contato.Nome</option>
                            }
                        </select>
                        <span asp-validation-for="ContatoId" class="text-danger"></span>
                    </div>

                    <div class="form-group d-flex align-items-center justify-content-end gap-3 mt-5">
                        <a href="/compromissos" class="text-coffee">Voltar para a listagem</a>
                        <button type="submit" class="btn-amber rounded-4 px-5">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
