body {
    background-color: #E8ECED;
}

.nav-link-default {
    color: #5c4033;
    background-color: transparent;
    padding: 6px 12px;
    border-radius: 6px;
    transition: background-color 0.2s ease, color 0.2s ease;
    font-weight: 600;
    text-decoration: none;
}

.nav-link-ativo {
    background-color: #5c4033;
    color: #fffaf3;
    border-radius: 6px;
    padding: 6px 12px;
    font-weight: 600;
    text-decoration: none;
}

.nav-link.nav-link-ativo:hover {
    color: #fffaf3 !important;
    background-color: #4e362b;
}

.btn-amber {
    background-color: #5c4033;
    color: #fffaf3;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.2s ease, transform 0.1s ease;
    display: inline-block;
    cursor: pointer;
}

.btn-amber:hover {
    background-color: #4e362b;
    transform: scale(1.02);
}

.btn-amber:active {
    background-color: #3e2c23;
    transform: scale(0.98);
}

.btn-amber:disabled {
    background-color: #d3c1b8;
    color: #a1887f;
    cursor: not-allowed;
}

.btn-edit {
    background-color: #7C9A6Dc0;
    color: #000000;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

    .btn-edit:hover {
        background-color: #7C9A6Db0;
    }

.btn-delete {
    background-color: #8B4B57;
    color: #fffaf3;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

    .btn-delete:hover {
        background-color: #8B4B57f0;
    }

.btn-amber-outline {
    background-color: transparent;
    color: #b3541e;
    border: 2px solid #b3541e;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.1s ease;
    cursor: pointer;
}

    .btn-amber-outline:hover {
        background-color: #b3541e;
        color: #fffaf3;
    }

.text-coffee {
    color: #2e1d15;
}