﻿@{
	Layout = "_Layout";
	ViewBag.Titulo = "Página Inicial";
}

<hr />
<div class="d-flex flex-wrap gap-2 gap-lg-5">
	<div class="col order-1 order-lg-0 py-lg-5">
		<h2 class="text-coffee fs-1 fw-bold">Seja bem-vindo/a!</h2>

		<p class="fs-4 mt-3">
			A E-Agenda é a solução ideal para quem busca praticidade e organização no dia a dia.
		</p>

		<p class="fs-4 mt-3">
			Aqui, você pode gerenciar compromissos, contatos, tarefas e despesas, tudo de forma centralizada e intuitiva.     
			Mantenha seu tempo e sua vida financeira sob controle com poucos cliques.
		</p>

		<p class="fs-4 mt-4 text-secondary-emphasis">Clique em uma das opções abaixo para prosseguir:</p>

		<div class="d-grid d-lg-flex flex-wrap gap-2">
			<a href="/contatos" class="btn-amber-outline fw-semibold px-5 rounded-3">Contatos</a>
			<a href="/compromissos" class="btn-amber-outline fw-semibold px-5 rounded-3">Compromissos</a>
			<a href="/categorias" class="btn-amber-outline fw-semibold px-5 rounded-3">Categorias</a>
			<a href="/despesas" class="btn-amber-outline fw-semibold px-5 rounded-3">Despesas</a>
			<a href="/tarefas" class="btn-amber-outline fw-semibold px-5 rounded-3">Tarefas</a>
		</div>
	</div>
	<div class="col-lg-4 order-0 order-lg-1">
		<img src="~/images/imagem.svg" alt="Barista" class="img-fluid mt-5" />
	</div>
</div>