@model ExcluirTarefaViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Exclusão de Tarefa";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body p-md-5">
                <form asp-action="Excluir">
                    <h3>Formulário de Exclusão</h3>
                    <p class="mt-4">Você deseja realmente excluir a tarefa <strong>@Model.Titulo</strong>?</p>

                    @if (ViewData.ModelState["CadastroUnico"]?.Errors.Count > 0)
                    {
                        <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
                            @ViewData.ModelState["CadastroUnico"]!.Errors.First().ErrorMessage
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    <div class="form-group d-flex align-items-center justify-content-end gap-3 mt-5">
                        <a href="/tarefas" class="text-coffee">Voltar para a listagem</a>
                        <button type="submit" class="btn-delete px-5">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
